.column_posters{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.poster_container{
  display: inline-block;
  position: relative;
  transition: transform 450;
  transition: 0.5s ease all;
}
.poster_container:hover{
  transform: scale(1.08);
  transition: 0.5s ease all;
}
.poster_container:hover .poster--fadeBottom{
  height:90%;
  transition: 1s ease all;
}
.poster_container:hover .column_poster_name{
  bottom: 35%;
  transition: 0.5s ease all;

}
.poster_container:hover .column_poster_movie_info{
  bottom: 15px;
  color: #fff;
  transition: 0.5s ease all;
}


.poster_container:hover .column_poster_movie_info_text{
  visibility: visible;
  font-size: 16px
}

.poster_container:hover .play_icon_circle{
  width: 1.5rem;
  height: 1.5rem;
  left: 9%;
  transition: 0.5s ease;
}

.poster_container:hover .play_icon_size{
  padding-top: 7px;
  padding-left: 2px;
  width: 10px;
  height: 10px;
  transition: 0.5s ease;
}
.poster_container:hover .star{
  height: 16px;
  width: 16px;
}



.column_poster{
    object-fit: scale-down;
    width: 262.97px;
    max-height: 146px;
    margin-bottom: 10px;
    z-index: 1;
}

.column_poster_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.column_poster_name{
  position: absolute;
  bottom: 15px;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  word-wrap: break-word;
  width: 50%;
  z-index: 5;
  transition: 0.5s ease all;
}
.column_poster_movie_info{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 90%;
  z-index: 5;
  color: transparent;
  transition: 0.5s ease all;
}
.column_poster_movie_info_text{
  visibility: hidden;
  transition: 0.5s ease all;
  font-size: 0px
}

.play_icon_size{
  padding-top: 12px;
  padding-left: 4px;
  width: 1rem;
  height: 1rem;
  transition: 0.5s ease;
}
.play_icon_circle{
  left: 40%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom: 50%;
  border: 1px solid #fff ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  z-index: 6;
}
.play_icon_circle:hover{
  background-color: #64EEBC;
  transition: 0s ;
  border: 1px solid #242424;
}

.play_icon_circle:hover .play_icon_white{
  display: none;
}

.play_icon_circle:hover .play_icon_black{
  display: block;
  transition: 0.5s ease;
}

.play_icon_black{
  transition: 0.5s ease;
  display: none;
}
.score{
  display: flex;
  gap: 0.5rem;
}
.star{
  padding-top: 3px;
  width: 0px;
  transition: 0.5s ease all;
}


.poster--fadeBottom{
    position:absolute;
    bottom:14px;
    left: 1px;
    width:99%;
    height:20%;
    background: -moz-linear-gradient(top,  #89fff100 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89fff100), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #89fff100 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #89fff100 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #89fff100 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #89fff100 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    z-index: 4;
    transition: 0.5s ease all;
}


@media (max-width: 1065px){
  .column{
    display: flex;
    justify-content: center;
  }
  .poster_container{
    width: 262.97px;
  }
  .poster--fadeBottom{
    bottom:14px;
    left: 0px;
    width:99.8%;
  }
}